<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Realtor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Realtor.Properties.Settings.realtorConnectionString"
      connectionString="server=localhost;user id=root;database=realtor"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- SQLite configuration
    <add
        key="ConnectionString.SQLite"
        value="Data Source=realtor.db"  />
    -->
    <!-- MySql configuration -->
    <add
        key="_ConnectionString.MySql"
        value="Persist Security Info=False;database=realtor;server=localhost;User Id=root;Password=;"  />
    <add
        key="ConnectionString.MySql"
        value="Persist Security Info=False;database=mysql;server=localhost;User Id=root;Password=;Port=3309"  />
    <!-- Additional data providers -->
    <!--
    <add
            key="BLToolkit.DataProviders"
            value="BLToolkit.Data.DataProvider.SQLiteDataProvider, Realtor; BLToolkit.Data.DataProvider.MySqlDataProvider, Realtor"  />    
    -->
    <add
            key="BLToolkit.DataProviders"
            value="BLToolkit.Data.DataProvider.MySqlDataProvider, Realtor"  />
    <add
        key="BLToolkit.DefaultConfiguration"
        value="MySql"  />
  </appSettings>

  <userSettings>
    <Realtor.Properties.Settings>
      <setting name="GridColumnsWidth" serializeAs="String">
        <value>IDobj,129;DateUpdate,66;Flats,43;Series,75;SqALL,35;SqHome,45;SqKitch,30;Raspol,31;Flour,45;Flours,43;Material,44;Balcony,31;WC,44;Phone,46;New,43;Privat,44;IDcity,59;Rayon,115;Street,100;Price,43;PriceMeter,48;Object,44;Electricity,45;Hot,47;Water,47;Entrance,47;Security,46;Parking,44;Prava,44;SqLand,44;Live,45;</value>
      </setting>
      <setting name="ServicesLocation" serializeAs="String">
        <value>WebServer</value>
      </setting>
      <setting name="BaseUrl" serializeAs="String">
        <value>http://www.realty.loc/webservice</value>
      </setting>
      <setting name="Activated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GridColumns1" serializeAs="String">
        <value>IDobj,133,0;DateUpdate,96,1;Flats,23,1;Series,75,1;SqALL,31,1;SqHome,31,1;SqKitch,30,1;Raspol,31,1;Flour,23,1;Flours,23,1;Material,32,1;Balcony,31,1;WC,30,1;Phone,23,1;New,23,1;Privat,23,1;IDcity,90,0;Rayon,92,1;Street,100,1;Price,49,1;PriceMeter,48,0;Object,55,0;Electricity,45,0;Hot,47,0;Water,47,0;Entrance,47,0;Security,46,0;Parking,44,0;Prava,23,0;SqLand,29,0;Live,23,0;Mebel,23,0;Term,31,0;</value>
      </setting>
      <setting name="GridColumns2" serializeAs="String">
        <value>IDobj,133,0;DateUpdate,96,1;Flats,23,1;Series,75,1;SqALL,38,1;SqHome,27,1;SqKitch,23,1;Raspol,31,0;Flour,23,1;Flours,23,1;Material,32,1;Balcony,47,1;WC,30,1;Phone,23,1;New,23,1;Privat,23,1;IDcity,90,0;Rayon,115,1;Street,100,1;Price,51,1;PriceMeter,48,0;Object,55,0;Electricity,45,0;Hot,47,0;Water,47,0;Entrance,47,0;Security,46,0;Parking,44,0;Prava,83,1;SqLand,29,1;Live,23,1;Mebel,23,0;Term,31,0;</value>
      </setting>
      <setting name="GridColumns3" serializeAs="String">
        <value>IDobj,133,0;DateUpdate,96,1;Flats,23,1;Series,75,1;SqALL,31,1;SqHome,27,1;SqKitch,23,1;Raspol,31,0;Flour,23,1;Flours,23,1;Material,32,1;Balcony,47,1;WC,30,1;Phone,23,1;New,23,1;Privat,23,1;IDcity,90,0;Rayon,115,1;Street,100,1;Price,55,1;PriceMeter,48,1;Object,55,0;Electricity,45,0;Hot,47,0;Water,47,0;Entrance,47,0;Security,46,0;Parking,44,0;Prava,129,1;SqLand,50,1;Live,23,1;Mebel,23,0;Term,31,0;</value>
      </setting>
      <setting name="GridColumns4" serializeAs="String">
        <value>IDobj,133,0;DateUpdate,96,1;Flats,23,1;Series,75,1;SqALL,42,1;SqHome,27,1;SqKitch,23,1;Raspol,31,1;Flour,23,1;Flours,23,1;Material,32,1;Balcony,47,1;WC,30,1;Phone,23,1;New,23,1;Privat,23,1;IDcity,90,0;Rayon,115,1;Street,100,1;Price,48,1;PriceMeter,48,1;Object,113,1;Electricity,45,0;Hot,47,0;Water,47,0;Entrance,47,0;Security,46,0;Parking,44,0;Prava,81,1;SqLand,29,1;Live,23,0;Mebel,23,0;Term,31,0;</value>
      </setting>
    </Realtor.Properties.Settings>
  </userSettings>
</configuration>